{% extends 'admin/base.html' %}
<!-- comment -->
{% load static %} 
<!-- load static block -->
{% block branding %}
<h1 style="background-color: transparent" id="head">
    <img 
     src="{% static 'img/logo.png' %}" 
     alt="BC Real Estate" 
     height="55" 
     width="65" 
     class="brand_img"
 />
</h1>
{% endblock %}
<!-- log in again -->
{% block content %}
    <!--<p><a href="/admin/" class="background-button">Log in again</a></p>-->
    <!--<a href="/admin/" class='btn btn-primary' role='button'>Log in again</a>-->
    <button type='button' class="btn btn-primary">Log in again</button>
{% endblock %}
    add CSS style
<!--add CSS style -->
{% block extrastyle %} 
<!--add CSS link -->
<link rel="stylesheet" href={% static 'css/admin.css' %}/> 
{% endblock %}