{% extends 'base.html' %} 
{% load humanize %}
{% block title %} | 404 not found {% endblock %}
{% block content %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <h1>OOps! the listing not found</h1>
    <img src="{% static '/img/404_2.jpeg' %}" width="450" height="450" alt="" onerror="this.styple.display='none'"/>
</body>
</html>
{% endblock %}

